* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.img :hover{
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 2rem 0;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

.subtitle {
    font-size: 1.2rem;
    color: #555;
}

.about,
.projects,
.contact {
    width: 80%;
    max-width: 800px;
    margin: 2rem 0;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.project-item {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.project-item h3 {
    font-size: 1.5rem;
    color: #333;
}

.project-item p {
    color: #666;
}

footer {
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: #666;
}

.contact-info a {
    color: #333;
    text-decoration: none;
    margin: 0 0.5rem;
}